<section>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="box box-solid">
                <div class="box-body">
                    <p><b>Agrupación</b></p>
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" autocomplete="off" v-model="group_by" value="id_empresa"> Proveedor
                        </label>
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" autocomplete="off" v-model="group_by" value="id_rubro"> Movimiento
                        </label>
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" autocomplete="off" v-model="group_by" value="id_moneda"> Moneda
                        </label>
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" autocomplete="off" v-model="group_by" value="id_rubro"> Vencimiento
                        </label>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-body">
                    <p><b>Vencimiento (días)</b></p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button :disabled="cargando || guardando" type="button" class="btn btn-sm btn-default" @click="set_fechas(false, -20)">V < 20
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button :disabled="cargando || guardando" type="button" class="btn btn-sm btn-default" @click="set_fechas(-20, -40)">V <= 20 <
                                40
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button :disabled="cargando || guardando" type="button" class="btn btn-sm btn-default" @click="set_fechas(-40, -60)">V <= 40 <
                                60
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button :disabled="cargando || guardando" type="button" class="btn btn-sm btn-default" @click="set_fechas(-60, false)">60 <= V
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button :disabled="cargando || guardando" type="button" class="btn btn-sm btn-default">Otro
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div v-for="(grupo, key) in grupos" class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{grupo[0][title] ? grupo[0][title][text] : 'SIN AGRUPAR'}}</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive pre-scrollable">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Folio (SAO)</th>
                                <th>Tipo de Movimiento</th>
                                <th>Tipo de Transacción</th>
                                <th>Folio de Factura</th>
                                <th>Folio CR</th>
                                <th>Fecha</th>
                                <th>Venc.</th>
                                <th>Monto</th>
                                <th>Moneda</th>
                                <th>T.C.</th>
                                <th>Monto M.N.</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="transaccion in grupo">
                                <td>#{{ transaccion.numero_folio }}</td>
                                <td>{{ transaccion.rubro ? transaccion.rubro.descripcion: '---' }}</td>
                                <td>{{ transaccion.tipo_tran.Descripcion }}</td>
                                <td>{{ transaccion.referencia }}</td>
                                <td>#{{ transaccion.contrarecibo ? transaccion.contrarecibo.numero_folio : '---' }}</td>
                                <td>{{ new Date(transaccion.fecha).dateShortFormat() }}</td>
                                <td>{{ new Date(transaccion.vencimiento).dateShortFormat() }}</td>
                                <td style="text-align: right"><span class="pull-left">$</span> {{ parseFloat(transaccion.monto).formatMoney(2, '.', ',') }}</td>
                                <td>{{ transaccion.moneda.nombre }}</td>
                                <td style="text-align: right"><span class="pull-left">$</span> {{ parseFloat(transaccion.tipo_cambio).formatMoney(2, '.', ',') }}</td>
                                <td style="text-align: right"><span class="pull-left">$</span> {{ parseFloat(transaccion.monto * transaccion.tipo_cambio).formatMoney(2, '.', ',') }}</td>
                                <td></td>
                                <td><input type="checkbox" v-model="transaccion.seleccionada"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="pull-right">
                <b>Total Solicitado: </b> $ {{ parseFloat(total_solicitado).formatMoney(2, '.', ',') }}
            </p>
        </div>
        <hr>
        <div class="col-md-12">
            <button class="pull-right btn btn-sm btn-success">Finalizar</button>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="vencimientoModal" tabindex="-1" role="dialog" aria-labelledby="vencimientoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vencimiento</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</section>