<table id="solicitudes_recursos_table" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th># Folio</th>
        <th>Fecha de Registro</th>
        <th>Usuario que Registró</th>
        <th>Cantidad de Transacciones</th>
        <th>Total Solicitado</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
        <th># Folio</th>
        <th>Fecha de Registro</th>
        <th>Usuario que Registró</th>
        <th>Cantidad de Transacciones</th>
        <th>Total Solicitado</th>
        <th></th>
    </tr>
    </tfoot>
</table>