<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Resultados</h3>
        <div class="box-tools">
            <a  class="btn btn-default btn-sm" v-on:click="confirmar_solicitud()">
                <i class="glyphicon glyphicon-plus-sign"></i> Nueva Solicitud de Recursos
            </a>
        </div>
    </div>
    <div class="box-body">
        <table id="solicitudes_recursos_table" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th># Folio</th>
                <th>Fecha de Registro</th>
                <th>Usuario que Registró</th>
                <th>Cantidad de Transacciones</th>
                <th>Total Solicitado</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <th># Folio</th>
                <th>Fecha de Registro</th>
                <th>Usuario que Registró</th>
                <th>Cantidad de Transacciones</th>
                <th>Total Solicitado</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>