/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/nbproject/private/
.idea/workspace.xml
/.idea
/nbproject/project.properties
/nbproject/project.xml
/public/build/
/public/css/
/public/js/
/public/fonts
/composer.lock
/php_errors.log
composer.lock
php_errors.log
/resources/assets/css/
/public/img/logo_temp.png
