<section class="rffc">
    <div class="row">
        <form id="form_reposicion_fondo_fijo" @submit.prevent="validateForm('form_reposicion_fondo_fijo', 'save_reposicion')"  data-vv-scope="form_reposicion_fondo_fijo">
            <!-- Fecha de Cheque / Cumplimiento -->
            <div class="col-md-6">
                <div class="form-group" :class="{'has-error': validation_errors.has('form_reposicion_fondo_fijo.Fecha de Cheque')}">
                    <label for="cumplimiento_rff"><b>Fecha de Cheque</b></label>
                    <input type="text" name="Fecha de Cheque" class="form-control input-sm"
                           id="cumplimiento_rff" v-validate="'required'" v-model="form.cumplimiento"
                           v-datepicker>
                    <label class="help" v-show="validation_errors.has('form_reposicion_fondo_fijo.Fecha de Cheque')">{{ validation_errors.first('form_reposicion_fondo_fijo.Fecha de Cheque') }}</label>
                </div>
            </div>

            <!-- Fecha de Cobro / Vencimiento -->
            <div class="col-md-6">
                <div class="form-group" :class="{'has-error': validation_errors.has('form_reposicion_fondo_fijo.Fecha de Cobro')}">
                    <label for="vencimiento_rff"><b>Fecha de Cobro</b></label>
                    <input type="text" name="Fecha de Cobro" class="form-control input-sm"
                           id="vencimiento_rff" v-validate="'required'" v-model="form.vencimiento"
                           v-datepicker>
                    <label class="help" v-show="validation_errors.has('form_reposicion_fondo_fijo.Fecha de Cobro')">{{ validation_errors.first('form_reposicion_fondo_fijo.Fecha de Cobro') }}</label>
                </div>
            </div>

            <!-- Comprobante de Fondo Fijo -->
            <div v-if="! id_antecedente" class="col-md-12">
                <div class="form-group" :class="{'has-error': validation_errors.has('form_reposicion_fondo_fijo.Comprobante de Fondo Fijo')}">
                    <label for="id_antecedente_rff"><b>Comprobante de Fondo Fijo</b></label>
                    <select v-validate="'required'" type="text" name="Comprobante de Fondo Fijo" class="form-control input-sm"
                            id="id_antecedente_rff" v-model="form.id_antecedente"></select>
                    <label class="help" v-show="validation_errors.has('form_reposicion_fondo_fijo.Comprobante de Fondo Fijo')">{{ validation_errors.first('form_reposicion_fondo_fijo.Comprobante de Fondo Fijo') }}</label>
                </div>
            </div>

            <div v-if="form.id_antecedente" class="col-md-12">
                <section class="invoice">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header">
                                Información del Comprobante
                                <small class="pull-right">Fecha: {{new Date(comprobante_fondo_fijo.fecha).dateShortFormat()}}</small>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Número de Folio</b> <p class="pull-right">#{{ comprobante_fondo_fijo.numero_folio }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Fondo Fijo</b> <p class="pull-right">{{ comprobante_fondo_fijo.fondo_fijo.nombre }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Referencia</b> <p class="pull-right">{{ comprobante_fondo_fijo.referencia }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>Subtotal:</th>
                                        <td style="text-align: right;">$&nbsp;{{parseFloat(comprobante_fondo_fijo.subtotal).formatMoney(2, '.', ',')}}</td>
                                    </tr>
                                    <tr>
                                        <th>IVA:</th>
                                        <td style="text-align: right;">$&nbsp;{{parseFloat(comprobante_fondo_fijo.impuesto).formatMoney(2, '.', ',')}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td style="text-align: right;">$&nbsp;{{parseFloat(comprobante_fondo_fijo.monto).formatMoney(2, '.', ',')}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="observaciones"><b>Oservaciones</b></label>
                    <textarea class="form-control" v-model="form.observaciones"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right" :disabled="guardando || cargando">
                        <span v-if="guardando">
                            <i class="fa fa-spinner fa-spin"></i> Guardando
                        </span>
                        <span v-else>
                            <i class="fa fa-save"></i> Guardar
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
