<table id="solicitudes_table" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th># Folio</th>
        <th></th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Referencia</th>
        <th>Fecha de Registro</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th># Folio</th>
        <th>Fondo Fijo</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Referencia</th>
        <th>Fecha de Alta</th>
        <th>Acciones</th>
    </tr>
    </tfoot>
</table>
