<table id="solicitudes_table" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th># Folio</th>
        <th>Tipo de Solicitud</th>
        <th>Rubro</th>
        <th>Transacción Antecedente</th>
        <th style="width: 75px">Monto</th>
        <th>Beneficiario</th>
        <th>Fecha y Hora de Registro</th>
        <th>Observaciones</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th># Folio</th>
        <th>Tipo de Solicitud</th>
        <th>Rubro</th>
        <th>Transacción Antecedente</th>
        <th>Monto</th>
        <th>Beneficiario</th>
        <th>Fecha y Hora de Registro</th>
        <th>Observaciones</th>
    </tr>
    </tfoot>
</table>