
@import "node_modules/font-awesome/less/font-awesome";
@import (less) "node_modules/ionicons/dist/css/ionicons.css";
@import (less) "node_modules/admin-lte/plugins/select2/select2.css";
@import (less) "node_modules/admin-lte/plugins/datepicker/datepicker3.css";
@import (less) "node_modules/admin-lte/plugins/daterangepicker/daterangepicker.css";
@import "node_modules/bootstrap/less/bootstrap";
@import (less) "node_modules/admin-lte/dist/css/AdminLTE.css";
@import (less) "node_modules/sweetalert2/dist/sweetalert2.css";
@import (less) "node_modules/admin-lte/dist/css/skins/_all-skins.css";
@import (less) "node_modules/jquery-treegrid/css/jquery.treegrid.css";

@import "node_modules/roboto-fontface/css/roboto/less/roboto-fontface";

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

body, label, .checkbox label {
  font-weight: 300;
}

.nav-company img {
  width: 60%;
  position: relative;
  top: -5px;
}

.skin-green .main-header .logo {
  background-color: #1e282c;
}

.skin-green .main-header .logo:hover {
  background-color: #1e282c;
}

div.dataTables_filter {
  text-align: right;
}

[v-cloak] {
  display: none;
}