@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}


.nav-company img {
	width: 60%;
	position: relative;
	top: -5px;
}

.skin-green .main-header .logo {
	background-color: #1e282c;
}

.skin-green .main-header .logo:hover {
	background-color: #1e282c;
}

div.dataTables_filter {
	text-align: right;
}

[v-cloak] {
	display: none;
}
